body {
    background-color: #17202A ;
    font-size: 19px;
    font-weight: bold;
    margin: 0px;
    font-family: SF Compact Display;
    color: #fff;
    border-collapse: none;
}
.left-section-general {
    display: flex;
    flex-direction: column;
    max-width: 275px;
}
main {
    max-width: 1680px;
    width: 100%;
}
.flex {
    display: flex;
    align-items: center;
}
a {
    color: #fff ;
    text-decoration: none;
    cursor: pointer;
}
.tweet-button {
    background-color: #1DA1F2;
    color: #fff;
    border-radius: 30px;
    padding: 16px 86px;
}
.gap {
    gap: 20px;
}
.bird-wrapper {
    margin-top: 11px;
}
.icon {
    cursor: pointer;
    width: 30px;
}
button {
    cursor: pointer;
}
.home-text {
    color: #1DA1F2;
}
.tweetButtonWrapper {
    margin-top: 30px;
}
.davideTextWrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;
    margin-left: 10px;
}
.biscuttu {
    color: #8899A6;
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}
.davideHeader {
    color: #fff;
   
}
.davideHeader > h5 {
    margin-bottom: 0px;
    font-size: 16px;
}
.left-section-wrapper {
    margin-right: auto;
    margin-left: 108px;
    margin-top: 11px;
    max-width: 275px;
}}
.bottomPartWrapper {
    gap: 12px;
    margin-top: 120px;
}
.dotsWrapper {
    margin-left: auto;
    align-self: flex-end;
}
.pp {
    align-self: flex-end;
}
.pp > img {
    width: 39px;
    cursor: pointer;
}
.flex2 {
    display: flex;
}
.general-wrapper {
    justify-content: space-around;
}
.home {
    font-size: 19px;
    font-weight: bold;
}
.mid-section-general {
    flex-direction: column;
    max-width: 598px;
    border: 1px solid #3A444C;
}
.star {
    width: 24px;
}
.happening-header {
    font-size: 20px;
    font-weight: 400;
    color: #8899A6;
}
.happening-wrapper {
    gap: 12px;
}
.pp-wrapper {
    margin-left: 15px;
}
.home-section-wrapper {
    align-items: center;
    justify-content: space-between;
}
.mid-section-wrapper {
    margin-right: auto;
    max-width: 598px;
    width: 100%;
    border-top: none;
}
.assets-tweet-wrapper {
    justify-content: space-between;
}
.assets-wrapper {
  gap: 15px;
  margin-left: 73px;
  margin-bottom: 17px;
}
.happening-assets-wrapper {
    border: 1px solid #3A444C;
}
.mid-tweet-button-wrapper {
    margin-right: 15px;
    margin-bottom: 10px;
}
.star-wrapper {
    margin-right: 14px;
}
.home2-wrapper {
    margin-left: 16px;
}
.devonLaneWrapper {
    margin-left: 16px;
    margin-top: 9px;
}
.otherPartWrapper {
    flex-direction: column;
}
.otherHeader > h6 {
    font-size: 15px;
    font-weight: bold;
    color: #fff ;
    margin-top: 0px;
    margin-bottom: 0px;
}
.otherHeader > p {
    font-size: 15px;
    font-weight: 400;
    color: #8899A6;
    margin-bottom: 0px;
    margin-top: 0px;
}
.otherHeader {
    align-items: center;
    margin-left: 10px;
    margin-top: 9px;
    gap: 4px;
}
.enough-p {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 4px;

}
.enoughWrapper {
    margin-left: 10px;
}
.mysterio {
    border: 1px solid #3A444C ;
    border-radius: 20px;
}
.mysterioWrapper {
    margin-top: 10px;
}
.tweetImg {
    width: 18px;
    height: 18px;
}
.gapTweet {
    gap: 10px;
}
.tweet-p {
    font-size: 13px;
    font-weight: 400;
    color: #8899A6;
}
.interactionsWrapper {
    align-items: center;
    gap: 84px;
}
.likePart > p {
    color: #F4245E;
}
.threadPart > p {
    color: #1DA1F2;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tweet-part {
    border: 1px solid  #3A444C;
}
.mid-tweet-button {
    background-color: #1DA1F2;
    padding: 12px 30px;
    border-radius: 12px;
    color: #fff;
}
.search-input {
    background-color: #283340;
    color: #8899A6;
    font-size: 16px;
    font-weight: 400;
    border-color: #283340;
    width: 348px;
    max-width: 100%;
    padding: 12px;
    border-radius: 20px;
}
.search-wrapper {
    margin-top: 10px;
}
.info-p {
    font-size: 14px;
    color: #8899A6;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}
.what-h2 {
    font-size: 20px;
    margin-left: 16px;
}
.right-section-general {
    flex-direction: column;
}
.covidPart {
    gap: 4px;
}
.trends {
    max-width: 235px;
    width: 100%;
}
.trends > p {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 6px;
}
.covid-trend {
    font-size: 14px;
    font-weight: 400;
    color: #8899A6;
}
.covid-p {
    color: #1DA1F2;
}
.texts-wrapper {
    flex-direction: column;
}
.covidImg {
    align-self: center;
}
.covid-texts {
    margin-bottom: 6px;
    margin-top: 10px;
}
.covid-trend > p {
    margin-top: 6px;
    margin-bottom: 0px;
}
.whatsWrapper {
    border: 1px solid #3A444C ;
    margin-top: 26px;
    border-radius: 2px;
    background-color: #3A444C ;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}   
.right-section-general {
    max-width: 350px;
    width: 100%;
}
.worldInformations {
    border: 1px solid #3A444C ;
}
