body {
    background-color: #000 ;
}
.left-section-general {
    display: flex;
    flex-direction: column;
}
main {
    max-width: 1680px;
    width: 100%;
}
.flex {
    display: flex;
}
a {
    color: #fff ;
    text-decoration: none;
}
.left-section-general {
    max-width: 275px;
}